@{
  ViewData["title"] = "About";
  ListModel listModel = new ListModel();
  listModel.ListTitle = "Programming languages";
  listModel.ListItems = new List<string>(){"C","Java","Assembly","C#","SQL"};
}

<h1>About page</h1>

<div class="box">
  @await Html.PartialAsync("_ListPartialView",listModel)
</div>