@{
  // Creating our model that will be passed to the partial as a strongly typed model
  ListModel listModel = new ListModel();
  listModel.ListTitle = "Countries";
  listModel.ListItems = new List<string>(){
    "USA","Japan", "Cuba", "Denmark"
  };
  ViewData["title"] = "Home";
}

<h1>Home page</h1>

@* Button that will initiate the request and load the div below with the programming languages *@
<button 
  class="button button-blue-back" 
  type="button" 
  id="button-load">Load Programming languages</button>

@* Where the partial will load its contents into *@
<div class="box programming-languages-content">
</div>

<script>
  // loads the div with the partial view that is returned from the endpoint /programming
  document.querySelector("#button-load").addEventListener("click",async function() {
    const response = await fetch("programming")
      .then(response => {
        if(!response.ok) {
          throw new Error("Network issue");
        }
        return response.text();
      })
      .then(textData => {
        document.querySelector(".programming-languages-content").innerHTML = textData;
      })
      .catch(error => {
        console.error("There has ben a problem with your fetch operation");
      });
    
  });
</script>


@* Load our partial with a taghelper *@
@* <div class="box">
  <partial model="listModel" name="~/Views/Shared/_ListPartialView.cshtml"></partial>
</div> *@