@{
  Layout="~/Views/Shared/_MasterLayout.cshtml";
}

<div class="container">

  @* navbar *@
  <div class="navbar">
    <div class="navbar-brand">Aspnet Core App</div>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contacts</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/products/search">Search Products</a></li>
      <li><a href="/products/order">Order Product</a></li>
    </ul>
  </div>

  @* page content *@
  <div class="page-content">
    @RenderBody()
  </div>

  @* footer content *@
  <div class="footer_content">
    @RenderSection("footer_section", false)
  </div>

</div>

</html>