@{
  Layout="~/Views/Shared/_MasterLayout.cshtml";
}

<div class="flex full-size-height">
  <div class="flex-1 grey-back">Sidebar</div>
  <div class="flex-3 white-back">
    @RenderBody()
  </div>
</div>