@model ListModel
@{
  @* string? title = (string?)ViewData["ListTitle"] ?? "Default Title";
  List<string> cities = (List<string>?) ViewData["ListItems"] ?? new List<string>(){}; *@

  string title = "Default title";
  List<string> cities = new List<string>();

  // assign the model to local variables for easier use
  if(@Model != null) {
    title = @Model.ListTitle;
    cities = @Model.ListItems;
  }

}

<div class="list-container">

  @* Print out list title *@
  @if(cities.Count > 0) {
    <h3>@(title)</h3>
  }
  else {
    <h3>No cities list provided</h3>
  }

  @* Print all of the cities in an unordered list *@
  <ul class="list">
    @foreach(var city in cities) {
      <li>@(city)</li>
    }
  </ul>

</div>