@{
  ViewData["title"] = "Search";

  // get the product id passed from the controller
  int? productId = (int?)ViewData["productId"];
}

<h1>Search products</h1>

@if(productId.HasValue) {
  <h3>Product Id = @(productId.Value)</h3>
}
else {
  <h3>Product id not supplied</h3>
}


