@{
  Layout="~/Views/Shared/_Layout.cshtml";
  ViewData["title"] = "About";
}

<h1>About page</h1>

@section footer_section {
  <p>Please contact us if you have any suggestions for improving this about page</p>
}